.modalthree__table {
  font: var(--paragraph-large);
  color: var(--gray-400);
  font-weight: 500;
  word-break: keep-all;
  border: 0.0625rem solid;

  & th {
    color: var(--gray-400);
    border: 0.063rem solid;
    text-align: left;
    padding: 0.5rem 0 1rem 0.7rem;
    font-weight: 700;
  }

  & tr,
  & td {
    color: var(--gray-400);
    border: 0.063rem solid;
    padding: 3rem 0.7rem 3rem 0.7rem;
  }
}
.modalthree__text {
  font: var(--paragraph-large);
  color: var(--gray-400);
  font-weight: 500;
  word-break: keep-all;
  margin-top: 2.5rem;
}

.modalthree__text__bold {
  font-weight: 700;
  text-decoration: underline;
}
