.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: calc(100% - 1.875rem - 5rem);
  display: flex;
  padding: 1.875rem 4.375rem;
  font: var(--paragraph-large);
  color: var(--gray-200);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  & h1 {
    display: flex;
    align-items: center;
  }

  & h1 a {
    margin-right: 3.25rem;
    display: flex;
    align-items: center;
  }
  & h1 a img {
    width: 8.25rem;
    height: 2.5rem;
  }

  & .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
