button {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  border-radius: 3px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;

  &:focus {
    outline: 1px solid #fffdfd;
  }
}

.inactive {
  background-color: #4e4e4e;
  color: #888888;

  &:focus {
    outline: none;
  }
}

.active__white {
  background-color: #dedede;
  color: var(--black);

  &:hover,
  &:focus {
    background-color: var(--white);
  }

  &:focus {
    outline: auto;
  }
}

.active__red {
  background-color: var(--brand-red-1);

  &:hover,
  &:focus {
    background-color: #cc1030;
    color: var(--white);
  }
}
