.user__button__short {
  all: unset;
  width: 16.667rem;
  height: 5rem;
  box-sizing: border-box;
  border-radius: 3px;
  font: var(--heading-large);
  cursor: pointer;
  text-align: center;
  margin: 0 0.5rem;

  &:focus {
    outline: 2px solid white;
  }

  &.user__button__short__white {
    background-color: #dedede;
    color: var(--black);
    border: 1px solid #dedede;

    &:hover {
      background-color: white;
      border-color: white;
    }
  }

  &.user__button__short__black {
    background-color: var(--black);
    color: #a3a3a3;
    border: 1px solid #4e4e4e;

    &:hover {
      color: #dedede;
      border-color: #a3a3a3;
    }
  }
}
