.user__main {
  margin: 0 auto;
  width: calc(100% - 7.776rem);
  color: var(--white);

  & .user__main__section {
    margin: 0 auto;
    max-width: 41.667rem;
    height: 100%;
  }
}

.user__wide__main {
  margin: 0 auto;
  width: calc(100% - 7.776rem);
  color: var(--white);

  & .user__wide__main__section {
    margin-bottom: 17.75rem;
  }
}
