.mySwiper {
  position: relative;

  & .bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .playWrapper {
    position: absolute;
    z-index: 1000;
    left: 3rem;
    bottom: 20%;
    display: flex;
    align-items: center;
  }

  & .bannerInformation {
    position: absolute;
    z-index: 1002;
    color: white;
    bottom: 25%;
    left: 3rem;
    font: var(--paragraph-large);
  }
}
