.tag {
  padding: 0 0 0 4.375rem;
  margin-bottom: 1.5rem;

  & h2 {
    font: var(--heading-xl);
    margin-bottom: 1.5rem;
  }

  & .contents {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    & div {
      width: 16rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateY(-3%);
      }

      & img {
        width: 100%;
        border-radius: 0.25rem;
      }

      & p {
        font: var(--label-medium);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  & .sortbox {
    display: flex;
    justify-content: space-between;

    & .buttonGroup {
      margin-right: 4.75rem;

      & button {
        border: 0;
        background: 0;
        cursor: pointer;
        color: var(--gray-300);
        font: var(--label-large);

        &:hover,
        &.active {
          color: var(--white);
        }
      }
    }
  }
}
