* {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto", Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
}

.regist__wrapper{
  margin: 4.167rem auto 0;
  max-width: 41.667rem;
}


.regist__Form {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0 1.5rem 0; */
  margin-top: 3rem;
}

.regist__subtitle {
  display: flex;
  justify-content: center;
  font: var(--heading-xl);
  font-weight: normal;
  color: var(--gray-300);
  padding: 0 2rem;
  word-break: keep-all;
}

.regist__info {
  color: var(--gray-300);
  margin-bottom: 1.9rem;
  color: #6e6e6e;
  word-break: keep-all;
  font-size: 1.167rem;
  text-align: left;

  &.isidempty,
  &.ispwempty,
  &.isred {
    color: var(--brand-red-1);
  }
}






.agree__title {
display: flex;
flex-direction: wrap;
align-items: center;
font-size: 1.25rem;
color: #a3a3a3;
cursor: pointer;
font-weight: 500;;
}

.agree__list{
  margin-top: -0.5rem;
}