.password__visible {
  all: unset;
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  cursor: pointer;

  background: url(../../assets/User/user_icon_pw_hide.svg) no-repeat;
  background-position: center center;
  background-size: 120% auto;

  &.visible__active {
    background: url(../../assets/User/user_icon_pw_show.svg) no-repeat;
    background-size: 120% auto;
    background-position: center center;
  }

  &:focus {
    outline: 2px solid white;
    border-radius: 3px;
  }
}
